#image-edit-container {
    display: flex;
    gap: 10px;
}

#image-preview-container0 {
    background-size: cover;
}

#drag-and-drop-container {
    margin: 30px 0;
    position: relative;
    border: 2px dashed #ddd;
    border-radius: 8px;
    aspect-ratio: 0.8;
    width: 100%;
    height: fit-content;
    transition: .3s;
}

.drag-and-drop-wrapper {
    flex-grow: 1;
    border: 2px dashed #ddd;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    position: relative;
}

#drag-and-drop-wrapper1 {
    position: absolute;
    left: 10%;
    top: 21%;
    width: 80%;
}

.step1 #drag-and-drop-wrapper1,
.step2 #drag-and-drop-wrapper1 {
    background: white;
    border-color: transparent;
    border-radius: 0;
}

#drag-and-drop-wrapper2 {
    position: absolute;
    left: 10%;
    top: 2.5%;
    width: 20%;
}

.drag-and-drop-wrapper.disabled {
    cursor: unset;
}

.drag-and-drop-wrapper::before {
    content: "";
    display: block;
    padding-top: 100%;
    /* This creates a square aspect ratio */
}

#drag-and-drop-wrapper2::before {
    padding-top: 100%;
    /* This creates a square aspect ratio */
}

.drag-and-drop-area {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

.drag-and-drop-area.dragging {
    background-color: #e9e9e9;
}

.drag-and-drop-area .explain {
    flex-grow: 1;
}

#drag-and-drop-area1 .explain span {
    font-size: xx-large;
}

#drag-and-drop-area2 .explain {
    font-size: 12px;
}

#drag-and-drop-area2 .explain span {
    font-size: large;
}

@media screen and (max-width: 560px) {
    #drag-and-drop-area2 .explain {
        font-size: 8px;
    }

    #drag-and-drop-area2 .explain span {
        font-size: larger;
    }
}

.image-preview-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 7px;
    overflow: hidden;
}

#image-preview-container1 {
    font-size: 2.9em;
    padding: 0.6em 1em;
    font-weight: 600;
    line-height: 1.6em;
}

.image-preview-container img {
    width: 100%;
    height: 100%;
}

#image-preview-container1 img {
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
}

#image-preview-container2 img {
    object-position: left;
    object-fit: contain;
}

#brand-promise-input {
    position: absolute;
    color: white;
    left: 20%;
    width: 60%;
    height: 6%;
    bottom: 4%;
    font-size: 2.5em;
    text-align: center;
    background: transparent;
    border: lightgray dashed 2px;
    border-radius: 5px;
    outline: none;
}

#brand-promise-input:not(:placeholder-shown) {
    border-color: transparent;
}

input:is(:-webkit-autofill, :autofill) {
    transition: background-color 0s 600000s, color 0s 600000s !important;
}

#category-name-ribbon {
    position: absolute;
    color: white;
    right: 0;
    width: 30%;
    top: 10%;
    font-size: 1.2em;
    padding: 0.5em 1.5em;
    background: darkgray;
    border: lightgray dashed 2px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    text-overflow: ellipsis;
}

.pack-ctrl {
    position: absolute;
    display: none;
    right: 0;
    width: 15%;
    font-size: 1.1em;
    background: #0000004f;
    color: white;
    border: none;
    cursor: pointer;
}

#category-name-ribbon:hover~.pack-ctrl,
.pack-ctrl:hover {
    display: block;
}

.pack-ctrl:disabled {
    opacity: 0.3;
}

#pack-new-btn {
    top: 10%;
}

#pack-del-btn {
    top: 13%;
}

#drag-and-drop-container:not(.step2) .pack-ctrl {
    display: none !important;
}

/**
* Navigator panel
*/
#navigator-container {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    width: 0%;
    transition: .3s;
    margin-top: 30px;
    align-content: flex-start;
    overflow: hidden;
}

#navigator-title {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.bg-choice-theme,
.pack-choice-title {
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 7.5px;
    color: white;
    background: #005f8d;
    cursor: pointer;
}

.bg-choice-theme.active,
.pack-choice-title.active {
    background: #0073aa;
    box-shadow: 0px 0 9px 0 #000000ab;
}

.pack-choice-title.disabled {
    background-color: gray;
}

.bg-choice-img-container,
.pack-file-container {
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
    display: none;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.bg-choice-img-container.active,
.pack-file-container.active {
    display: flex;
}

.bg-choice-img,
.pack-file-img,
.pack-file-csv {
    flex-grow: 0;
    flex-shrink: 0;
    width: 50%;
    cursor: pointer;
}

/**
* Upload btn
*/
#next-step-btn {
    width: 100%;
    padding: 12px;
    background-color: #0073aa;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    display: block;
    position: absolute;
    margin-top: 130%;
}

#next-step-btn:hover {
    background-color: #005f8d;
}

#next-step-btn:disabled {
    background-color: gray;
}

.current-step-focus {
    background-image: url(../images/texture.png) !important;
    animation-name: current-step-focus-anim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes current-step-focus-anim {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 24px;
    }
}

.spinner-text {
    width: 100%;
    text-align: center;
}

.spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50%;
    margin-left: 25%;
    aspect-ratio: 1;
    box-sizing: border-box;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spinner-success {
    border: 8px solid #3498db;
    color: green;
    font-weight: 900;
    border-radius: 50%;
    width: 50%;
    margin-left: 25%;
    aspect-ratio: 1;
    box-sizing: border-box;
    text-align: center;
    align-content: center;
    font-size: 1.7em;
}

.modal {
    position: fixed;
    text-align: center;
    left: 0;
    top: calc(50% - 40px);
    right: 0;
    background: #c53c3c;
    color: white;
    height: 80px;
    align-content: center;
    animation: modal-appear .8s cubic-bezier(0.25, 1.25, 0.5, 1);
}

@keyframes modal-appear {
    0% {
        height: 0;
        top: 50%;
    }

    28% {
        height: 90px;
        top: calc(50% - 45px);
    }

    46% {
        height: 60px;
        top: calc(50% - 30px);
    }

    64% {
        height: 86px;
        top: calc(50% - 43px);
    }

    82% {
        height: 70px;
        top: calc(50% - 35px);
    }

    100% {
        height: 80px;
        top: calc(50% - 40px);
    }
}